

{% extends 'Template/Template.html.twig' %}
{% block head %}
 <link href="{{ asset('css/formations.css') }}" rel="stylesheet">
 {% endblock %}
{% block body %}

<div id="moncercle" >
    <img src="{{ asset('images/formation.png') }} "class="imageContact" >
    </div>
    
    <div  class="BlocTitre text-center ">
    
    <div  class="avantTitre">
    </div>
    <p class="h1 titre">Formations</p>
    <div  class="ApresTitre ">
    </div>
    </div>

    <div class="h5 textContact text-center" > <span class="ColorRed">MASTER </span>BAC +5</div>    
    <div class="ContenuFormations"> 
    <div class="col"> 
            <div class="row">
                    <div class="ContenuFormations"> 
                            <span class="h5 ColorRed">  2018 – 2016</span>
                            <a class="liens" href="https://www.3il-alliance.fr/ms2i/" target="_blank">
                            <p class="h5 mb-0 text-black TitreNom"> MASTER, Manager des Systèmes d’Information et d'Infrastructures (MS2I) – Chambre de Commerce et d'Industrie (CCI), Lorient (56) </p>
                            </a>
                            <p class="h6 mb-0 text-black TitreNom"> Spécialité Développement </p>
                    </div>
            </div>
            <div class="row">
                    <div class="ContenuFormations"> 
                            <span class="h5 ColorRed">  2016 – 2015</span>
                            <a class="liens" href="https://www.3il-alliance.fr/csi/" target="_blank">
                            <p class="h5 mb-0 text-black TitreNom"> LICENCE PRO, Concepteur de Systèmes d'Information (CS2I) –CCI, Lorient (56)</p>
                            </a>
                            <p class="h6 mb-0 text-black TitreNom"> Spécialité Développement</p>
                    </div>
            </div>
            <div class="row">
                    <div class="ContenuFormations"> 
                            <span class="h5 ColorRed">  2015 – 2013</span>
                            <a class="liens" href="http://www.onisep.fr/Ressources/Univers-Formation/Formations/Post-bac/BTS-Services-informatiques-aux-organisations-option-B-solutions-logicielles-et-applications-metiers/" target="_blank">
                            <p class="h5 mb-0 text-black TitreNom"> BTS, Service d'Information aux Organisations (SIO) - Notre Dame de la Paix, Ploemeur (56) </p>
                            </a>
                            <p class="h6 mb-0 text-black TitreNom">Spécialité Solutions Logicielles et Applications Métier (SLAM)</p>
                    </div>
            </div>
            <div class="row">
                    <div class="ContenuFormations"> 
                            <span class="h5 ColorRed">  2013 – 2010</span>
                            <a class="liens" href="http://lycee-colbert-lorient.com/index.php?cat=1&pageid=217&cursub=12" target="_blank">
                            <p class="h5 mb-0 text-black TitreNom"> BAC, Sciences et Technologies de l'Industrie et du Développement Durable (STI2D) mention « assez bien » - Lycée Colbert, Lorient (56)</p>
                            </a>
                            <p class="h6 mb-0 text-black TitreNom"> Option Innovations Technologiques et Eco Conception (ITEC)</p>
                    </div>
            </div>
    </div>
</div>

{% endblock %}
