
{% extends 'Template/template.html.twig' %}
{% block head %}
 <link href="{{ asset('css/Projets.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}


<div id="moncercle" >
        <img src="{{ asset('images/projet.png') }} "class="imageContact" >
        </div>
        
        <div  class="BlocTitre text-center ">
        
        <div  class="avantTitre">
        </div>
        <p class="h1 titre">Projets</p>
        <div  class="ApresTitre ">
        </div>
        </div>

        <div class="h5 textContact text-center" > <span class="ColorRed">Projets  </span>réalisés</div>    



{% endblock %}
