.fond{
    background-color: #343a40;
    height: 91.5%;
}
.Contents{
  background-color: #efefef;
}
.rowTemplate{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}

.textNameRes {
    font-size: 1.8rem;
  }
  .textJobRes {
    font-size: 1.1rem;
  }
  .textBnadeau{
    font-size: 0.70rem;
  }

  .ColorRed{
    color: #fb383b; 
  }

  .TableInfo{
    border-top: 1px solid #dee2e6;
    padding: 8;
  }
  @media (min-width: 1900px) {
    .textNameRes {
        font-size: 1.9rem;
      
      }
      .textJobRes {
        font-size: 1.3rem;
      }
      .textBnadeau{
        font-size: 1rem;
      }
    }
  @media (max-width: 1550px) {
    .textNameRes {
        font-size: 1.9rem;
      
      }
      .textJobRes {
        font-size: 1.3rem;
      }
      .textBnadeau{
        font-size: 0.80rem;
      }
    }
  @media (max-width: 1350px) {
    .textNameRes {
        font-size: 1.4rem;
      
      }
      .textJobRes {
        font-size: 1rem;
      }
      .textBnadeau{
        font-size: 0.70rem;
      }
    }
    @media (max-width: 1050px) {
        .textNameRes {
            font-size: 1.3rem;
           
          }
          .textJobRes {
            font-size: 0.8rem;
          }
          .textBnadeau{
            font-size: 0.70rem;
          }
        }
@media (max-width: 800px) {
    .textNameRes {
        font-size: 1rem;
      }
      .textJobRes {
        font-size: 0.8rem;
      }
      .textBnadeau{
        font-size: 0.55rem;
      }
    }
@media (max-width: 600px) {
    .textNameRes {
        font-size: 1.1rem;
      }
      .textBnadeau{
        font-size: 0.60rem;
      }
    }
@media (max-width: 532px) {
        .textNameRes {
            font-size: 0.9rem;
          }
          .textJobRes {
            font-size: 0.6rem;
          }
          .textBnadeau{
            font-size: 0.60rem;
          }
    }
  