.item1{
    color:rgba(255,255,255,.5)
}

.item2{
    color:rgba(255,255,255,.5)
}
.item3{
    color:rgba(255,255,255,.5)
}
.item4{
    color:rgba(255,255,255,.5)
}
.item5{
    color:rgba(255,255,255)
}

#moncercle{
    
    background:#343a40;
    width: 100px;
    height: 100px;
    margin: 0 auto 0px auto;
    margin-top: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    text-align: center;
  }
  .avantTitre {
    float: left;
    background: none repeat scroll 0 0 #fb383b;
    content: "";
    height: 2px;
    left: 0;
    margin-top: 25px;
    top: 35px;
    width: 30px;

}
.apresTitre {
    float: left;
    background: none repeat scroll 0 0 #fb383b;
    content: "";
    height: 2px;
    left: 0;
    margin-top: 25px;
    top: 35px;
    width: 30px;
    margin-left: 15px;
}
  .imageContact{    margin-top: 10px;;
}

.titre{
    margin-left: 15px;
    float:left;
}
.BlocTitre{
    margin-left: auto;
margin-right: auto;
width: 330px;
}


.FormContact{
    margin-top: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #fb383b;
    border-color: #fb383b;
}
.btn-primary:hover{
    color: #fff;
    background-color: #fb383b;
    border-color: #343a40;
}
.textContact{
 color:   #343a40;
 margin-top: 56px;
}
@media (max-width: 550px) {
    .h1, h1 {
        font-size: 2rem;
    }
    .h5, h5 {
        font-size: 0.7rem;
    }
}
@media (max-width: 375px) {
    .h1, h1 {
        font-size: 1rem;
    }
    .h5, h5 {
        font-size: 0.5rem;
    }
    .titre {
        margin-left: 18px;
        float: left;
        margin-top: 12px;
    }
}
