.item1{
    color:rgba(255,255,255,.5)
}

.item2{
    color:rgba(255,255,255,.5)
}
.item3{
    color:rgba(255,255,255,.5)
}
.item4{
    color:rgba(255,255,255)
}
.item5{
    color:rgba(255,255,255,.5)
}
