<div class="text-center">
                <img src="{{ asset('images/photoProfil.jpg') }}" class="img-fluid rounded-circle" alt="Responsive image">
                <blockquote class="blockquote text-center">
  <p class="mb-0 text-white textNameRes">Clément SAVY</p>
  <cite class=" textJobRes ColorRed">Développeur logiciel</cite>

   </blockquote>
</div>

<div class="positionTexte">

<p class="mb-0 text-white  TableInfo textBnadeau"><span class="ColorRed">Email :</span>contact@clement-savy.fr</p>
<p class="mb-0 text-white  TableInfo textBnadeau"><span class="ColorRed">Tel :</span> 0635346338</p>
<p class="mb-0 text-white  TableInfo textBnadeau"><span class="ColorRed">Expérience :</span> 3 ans</p>
<p class="mb-0 text-white  TableInfo textBnadeau"><span class="ColorRed">Diplome :</span> Bac +5 Master MS2I</p>
<p class="mb-0 text-white  TableInfo textBnadeau"><span class="ColorRed">Permis de conduire :</span>Permis B</p>
<p class="mb-0 text-white  TableInfo textBnadeau"><span class="ColorRed">Mobilité :</span>Grand ouest</p>


<a  class="btn btn-primary" href="{{ path('dlcv') }}">Télécharger mon CV</a>
</div>
           